html,
body {
    background-color: black;
    scroll-behavior: smooth;
}

.title,
.subtitle {
    margin: 0.5rem !important;
}

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// Set your brand colors
$purple: #8A4D76;
$green: #19ff19;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";
@import "resources/slick-theme.scss";

a {
    color: $green;
    &:hover {
        color: $pink;
    }
}

.navbar-brand {
    a:hover {
        color: $green !important;
    }

    a:active {
        color: $pink !important;
    }
}

.navbar-dropdown {
    left: auto;
    right: 0;
}

#navMenu {
    text-align: center;
    a:hover {
        color: $green !important;
    }

    a:active {
        color: $purple !important;
    }
}

.navbar-item {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.navbar-end {
    a:hover {
        background-color: #111111 !important
    }
}

.hero {
    z-index: 1;
    border-bottom: 0.05rem solid grey;
}

.hero-body {
    padding: 0;
}

#bgvid {
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transform: scale(3);
}

.hero-video {
    opacity: 0.25;
    z-index: 1;
}

#hero {
    position: relative;
    z-index: 3;
    margin-top: 1.5rem; 
    .title {
        font-family: 'Press Start 2P', cursive !important;
        letter-spacing: 0.15vmax;
    }
}

#hero-main {
    z-index: 0;
    background-image: url(/images/DSC07751.JPG);
    position: absolute;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#logo {
    border: 0.15rem solid white;
    max-width: 15vmax;
    border-radius: 50rem;
}

#about {
    .title{
        font-family: 'Press Start 2P', cursive !important;
    }
    position: relative;
    z-index: 1;
    p {
        margin: 1rem auto;
    }

    .hero-body {
        z-index: 1;
        margin: auto;
    }
    .container{
        margin: auto 0.5rem;
    }
}

.about {
    background-image: url(/images/DSC07642.JPG);
    position: absolute;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


#team {
    .title {
        font-family: 'Press Start 2P', cursive !important;
    }
    .hero-body {
        z-index: 1;
        margin: auto;
    }
    .container{
        margin: auto 0.5rem;
    }
}

.team {
    background-image: url(/images/DSC07890.JPG);
    position: absolute;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.page-bg {
    background-image: url(/images/DSC07751.JPG);
    position: absolute;
    opacity: 0.15;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.footer {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    z-index: 1;
    padding: 0.25rem;
    .container {
        padding: 0.5rem;
        align-self: center;
    }

    a {
        color: white;

        &:hover {
            color: $green !important;
        }

        &:active {
            color: $pink !important;
        }
    }
}

#copyright{
    padding: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

#contact {
    width: 75vw;
    margin: 0.25rem auto;
}

#contact-section {
    display: flex!important;
    justify-content: center!important;
}

#faq, #coc, #gallery, #eventsec {
    font-size: 1.25rem;
    .title {
        font-family: 'Press Start 2P', cursive !important;
        color: $green;
    }
    .content {
        text-align: justify;
        margin: 5rem 5vmax;
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
        }
        blockquote {
            &::before{
                content: ">";
                margin-right: 0.5rem;
                font-family: 'Press Start 2P', cursive !important;
            }
            background-color: rgba($color: $green, $alpha: 0.10);
            padding: 0.75rem 1rem;
            border: 1px solid rgba($color: white, $alpha: 0.5);
            margin-top: 0.5vmax;
            margin-bottom: 2.5vmax;
            display: inline-flex;
        }
        strong {
            color: white;
        }
    }
}