<section id="about" class="hero is-fullheight is-black">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">0x04</h1>
            <hr>
            <p class="is-size-6">
            <!--    {{site.about}} -->
                DEF CON Delhi Group happens to be hosting India's biggest non profit FREE FOR ALL hacker events.
                This year in the DC9111 0x04 SAFE MODE Event, the audience will get to level up yet again! Listen to the top notch speakers on some of the
                hot topics in the cyber security domain and enjoy the <a href="" >CTF </a> hosted by us from the comfort from your home.
            </p>
            <a href="#team" class="button is-black is-inverted is-outlined is-rounded">Team</a>
        </div>
    </div>
    <div class="about">
    </div>
</section>
