<footer class="footer has-background-dark is-flex has-text-centered">
    <div class="container is-left is-full is-size-4">
        <a class="has-text-white" href="https://www.facebook.com/{{site.facebook}}" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="has-text-white" href="https://www.instagram.com/{{site.instagram}}" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="has-text-white" href="https://www.twitter.com/{{site.twitter}}" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="container is-right">
        <a href="{{site.url}}{{site.baseurl}}/donate" class="is-white">Donate</a>
    </div>
</footer>
<div class="has-background-dark has-text-centered">
    Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>-<script type="text/javascript">document.write(new Date().getFullYear()+1);</script> DEF CON®️ Delhi Group | DC9111 - All rights reserved
</div>