<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#000000' name='theme-color' />
<meta name="keywords" content="DefCon Delhi, Delhi, DefCon, Def Con, Cybersecurity">

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{site.title}} | {{page.title}}">
<meta name="og:description" content="{{page.meta}}">
<meta name="og:image" content="{{site.image}}">
<meta name="og:image:alt" content="{{site.title}} | {{page.title}}">
<meta name="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
<meta name="og:site_name" content="{{site.title}} | {{page.title}}">
<meta name="og:type" content="website">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{site.title}} | {{page.title}}">
<meta name="twitter:description" content="DC9111 is a group of techies, developers, designers, hackers and security researchers who are trying to spread core knowledge in the domain of cybersecurity and hacking that ranges from web application, hardware, embedded systems to RFID.">
<meta name="twitter:site" content="@dc_9111">
<meta name="twitter:creator" content="@dc_9111">
<meta name="twitter:image:src" content="{{site.image}}">
<!-- Search Engine -->
<meta name="description" content="DC9111 is a group of techies, developers, designers, hackers and security researchers who are trying to spread core knowledge in the domain of cybersecurity and hacking that ranges from web application, hardware, embedded systems to RFID.">
<meta name="image" content="{{site.image}}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{site.title}} | {{page.title}}">
<meta name="author" content="{{page.author}}" />
<meta itemprop="description" content="{{page.meta}}">
<meta itemprop="image" content="{{site.image}}">
