<nav class="navbar is-dark is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{site.url}}">{{site.nav-title}}</a>
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu is-center has-background-dark">
            <div class="navbar-end">
                <a href="{{site.url}}{{site.baseurl}}#about" class="navbar-item">About</a>
                <a href="{{site.url}}{{site.baseurl}}#team" class="navbar-item">Team</a>
                <a href="{{site.url}}{{site.baseurl}}/contact" class="navbar-item">Contact</a>
                <a href="{{site.url}}{{site.baseurl}}/event" class="navbar-item">Event</a>
            </div>
        </div>
    </div>
</nav>