<nav class="navbar is-dark is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{site.url}}">{{site.nav-title}}</a>
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu is-center has-background-dark">
            <div class="navbar-end">
                <a href="{{site.url}}#about" class="navbar-item">About</a>
               <div class="navbar-item has-dropdown is-hoverable ">
                    <a href="{{site.url}}#team" class="navbar-link">
                       Team
                    </a>
                    <div class="navbar-dropdown has-background-black ">
                       
                        <a href="{{site.url}}/Volunteer" class="navbar-item">Volunteers</a>
                      
                    </div>
                </div>
                <a href="{{site.url}}/contact" class="navbar-item">Contact</a>
                <a href="{{site.url}}/event" class="navbar-item">Event</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown has-background-black">
                        <a target="_blank" href="https://ctf.defcon9111.org/" class="navbar-item">CTF</a>
                        <a target="_blank" href="https://forms.gle/mKYMzsvUDZYrh6BPA" class="navbar-item">Volunteership</a>
                        <hr class="navbar-divider">
                        <a href="{{site.url}}/faq" class="navbar-item">FAQ</a>
                        <a href="{{site.url}}/coc" class="navbar-item">Code of Conduct</a>
                        <!-- <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
