<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% include meta.html %}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/resources/logo.png" type="image/x-icon">
    <title>{% if page.title%}{{page.title}} | {% endif %}{{site.title}} - {{site.event}} | {{site.subtitle}}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    {% include nav.html %}
   
    <section class="hero is-fullheight-with-navbar is-black has-background-black-bis" id="volunteers">
        <section class="content" style="margin: auto 5vmax; min-height: 100vh; display: grid; place-content: center;">
            <h1 class="title has-text-centered" style="margin-top: 5rem!important">Volunteers</h1>
            <hr>
            <div class="page-wrapper" id="volunteer-sec">
                {% for volunteer in site.data.volunteer %}
                    <div class="profile-box">
                    <a href="{{volunteer.twitter}}" target="_blank"><img src="{{volunteer.image}}" alt="{{volunteer.name}}" onerror="this.src='https://via.placeholder.com/150';></a>
                   <h3 class="subtitle has-text-centered">{{volunteer.name}}</h3>
                   <!--   <h4>[{{volunteer.role}}]</h4> -->
                    </div>
                {% endfor %}
                </div>
        </section>
    </section>
    {% include footer.html %}
</body>
<script type="text/javascript">
    (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();


    var canvas = document.getElementById('canvas'),
    ctx = canvas.getContext('2d');

function resize() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
}
resize();
window.onresize = resize;

function noise(ctx) {
    
    var w = ctx.canvas.width,
        h = ctx.canvas.height,
        idata = ctx.createImageData(w, h),
        buffer32 = new Uint32Array(idata.data.buffer),
        len = buffer32.length,
        i = 0;

    for(; i < len;)
        buffer32[i++] = ((255 * Math.random())|0) << 24;
    
    ctx.putImageData(idata, 0, 0);
}

var toggle = true;

// added toggle to get 30 FPS instead of 60 FPS
(function loop() {
    toggle = !toggle;
    if (toggle) {
        requestAnimationFrame(loop);
        return;
    }
    noise(ctx);
    requestAnimationFrame(loop);
})();

</script>
<script src="https://kit.fontawesome.com/609f7f6148.js" crossorigin="anonymous"></script>

</html>